<nz-alert nzType="info" nzMessage="本期的课程要求达成度为{{tqPercent * 100}}%,你的现阶段课程达标度为{{selfPercent * 100}}%"></nz-alert>

<nz-tabset>
  <nz-tab nzTitle="视频">
    <nz-list
      [nzDataSource]="data"
      [nzItemLayout]="'vertical'"
      [nzRenderItem]="item1"
      [nzPagination]="pagination"
    >
      <ng-template #item1 let-item1>
        <nz-list-item [nzContent]="item1.content" [nzActions]="[starAction,msgAction]" [nzExtra]="extra">
          <ng-template #starAction>
            <i nz-icon type="star-o" style="margin-right: 8px;"
               (click)="collection(item1.id,item1.url,item1.type,item1.title)"></i>
          </ng-template>
          <ng-template #msgAction>
            <span *ngIf="item1.visible">{{timestampToTime(item1.startTime)}} -- {{timestampToTime(item1.endTime)}}</span>
            <span *ngIf="!item1.visible">暂未指定起始时间，请勿查看资源</span>
          </ng-template>

          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzDescription]="item1.description">
            <ng-template #nzTitle><a href="" (click)="videoPlay(item1.id,item1.endTime);false">{{item1.title}}</a>
            </ng-template>
          </nz-list-item-meta>
          <ng-template #extra>
            <img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png">
          </ng-template>
        </nz-list-item>
      </ng-template>

      <!--分页-->
      <ng-template #pagination>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="videoLength"
                       (nzPageIndexChange)="loadData($event)"></nz-pagination>
      </ng-template>
    </nz-list>
  </nz-tab>

  <nz-tab nzTitle="在线PDF">
    <nz-list
      [nzDataSource]="data1"
      [nzItemLayout]="'vertical'"
      [nzRenderItem]="item"
      [nzPagination]="pagination1"
    >
      <ng-template #item let-item>
        <nz-list-item [nzContent]="item.content" [nzActions]="[starAction1,msgAction]" [nzExtra]="extra">
          <ng-template #starAction1><i nz-icon type="star-o" style="margin-right: 8px;"
                                       (click)="collection(item.id,item.url,item.type,item.title)"></i> 156
          </ng-template>
          <ng-template #msgAction>
          </ng-template>

          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzDescription]="item.description">
            <ng-template #nzTitle><a href="" (click)="download(item.id,item.title);false">{{item.title}}</a>
            </ng-template>
          </nz-list-item-meta>
          <ng-template #extra>
            <img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png">
          </ng-template>
        </nz-list-item>
      </ng-template>

      <!--分页-->
      <ng-template #pagination1>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="pdfLength"
                       (nzPageIndexChange)="loadData2($event)"></nz-pagination>
      </ng-template>
    </nz-list>
  </nz-tab>

  <nz-tab nzTitle="其他下载">
    <nz-list
      [nzDataSource]="data2"
      [nzItemLayout]="'vertical'"
      [nzRenderItem]="item2"
      [nzPagination]="pagination2"
    >
      <ng-template #item2 let-item2>
        <nz-list-item [nzContent]="item2.content" [nzActions]="[starAction2,msgAction]" [nzExtra]="extra">
          <ng-template #starAction2><i nz-icon type="star-o" style="margin-right: 8px;"></i> 100</ng-template>
          <ng-template #msgAction>
          </ng-template>

          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzDescription]="item2.description">
            <ng-template #nzTitle><a href="" (click)="download(item2.id,item2.title);false">{{item2.title}}</a>
            </ng-template>
          </nz-list-item-meta>
          <ng-template #extra>
            <img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png">
          </ng-template>
        </nz-list-item>
      </ng-template>

      <!--分页-->
      <ng-template #pagination2>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="otherLength"
                       (nzPageIndexChange)="loadData3($event)"></nz-pagination>
      </ng-template>
    </nz-list>
  </nz-tab>

</nz-tabset>
