//整体页面
.content{
  background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  align-items: center;

}

.logo{
  height: 130px;
  width: 100%;
  text-align: center;
}
//登录
.login-form {
  max-width: 500px;
  min-width: 400px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
